/* Header Section */

.timer {
	position: absolute;
	top: 0;
	right: 20px;
}
.custom-card {
	margin-bottom: 40px;
}
.custom-card em {
	position: absolute;
	bottom: 0;
	right: 20px;
	color: #999;
}
ul {
	list-style-type: none;
}
input[type=radio] {
	width: 25px;
	height: 25px;
	margin: 20px;
}
label {
	margin-top: -11px;
	vertical-align: middle;
}
button {
	margin-top: 40px;
}
.hide-me {
	display: none;
}